---
const bottomLinks = [
  
  
  {
    header: 'Firma',
    headerClass: 'font-bold text-lg',
    links: [
      {
        name: 'Domů',
        href: '/',
        isExternal: false,
      },
      {
        name: 'O firmě',
        href: '/o-firme',
        isExternal: false,
      },
      {
        name: 'Klimatizace',
        href: '/klimatizace',
        isExternal: false,
      },
      {
        name: 'Tepelná čerpadla',
        href: '/tepelna-cerpadla',
        isExternal: false,
      },
      {
        name: 'Servis',
        href: '/servis',
        isExternal: false,
      },
      {
        name: 'Galerie',
        href: '/galerie',
        isExternal: false,
      },
      {
        name: 'Kontakt',
        href: '/kontakt',
        isExternal: false,
      },
    ],
  },
  
];
---
<footer
  class="mt-auto bg-primary-500/10 dark:bg-primary-400/10 py-16 lg:mt-20 lg:py-20 tracking-wide"
  aria-labelledby="footer-heading"
>
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col justify-between gap-12 sm:gap-16 lg:flex-row">
      <div class="flex max-w-sm flex-col items-start gap-6 sm:gap-8">
        <div class="flex">
      <a
        href="/"
        class="focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200 rounded-md focus-visible:outline focus-visible:outline-2"
      >
        <span class="sr-only">Klim–Tech</span>
        <img
          class="h-8 w-auto"
          width="65"
          height="40"
          src="/assets/klimtop_logo.png"
          alt="logo klim–tech"
        />
      </a>
    </div>
        <p class="text-primary-950/70 dark:text-primary-200/70 text-base">
          Klimatizace&Tepelná čerpadla Jirout
          <a href="mailto:jirout.pavel@gmail.com"><u>jirout.pavel@gmail.com</u></a>
        </p>
        
        <p id="current-year" class="text-primary-950/70 dark:text-primary-200/70 text-sm"> <span id="year"></span> © PP511</p>

        <script>
          // Získání aktuálního roku
          const currentYear = new Date().getFullYear();
        
          // Získání prvku
          const yearElement = document.getElementById('year');
        
          // Kontrola, zda prvek existuje před přiřazením
          if (yearElement) {
            yearElement.textContent = currentYear.toString(); // Převod čísla na string
          } else {
            console.error('Element s id "letopočet" nebyl nalezen.');
          }
        </script>
      </div>
      
      <!-- Bottom links -->
      <div class="grid max-w-xl flex-1 grid-cols-1 gap-8 sm:grid-cols-1 text-center">
        {
          bottomLinks.map((group) => (
            <div class="flex flex-col gap-4">
              <p class={group.headerClass}>{group.header}</p>
              <ul role="list" class="flex flex-col gap-3">
                {group.links.map((link) => (
                  <li>
                    <a
                      href={link.href}
                      class="focus-visible:outline-primary-950 dark:focus-visible:outline-primary-200 inline-flex items-center gap-1 rounded-md text-base hover:underline focus-visible:outline focus-visible:outline-2"
                      target={link.isExternal ? '_blank' : undefined}
                      rel={link.isExternal ? 'noopener' : undefined}
                    >
                      {link.name}
                      {link.isExternal && (
                        <svg
                          class="h-4 w-4"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z" />
                        </svg>
                      )}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
    
  </div>
  
  
</footer>
<div class="bg-primary-600 p-5">
  <p class="text-center text-white font-sm">Tato webová stránka neukládá marketingové soubory cookie.</p>
</div>
</body>