<section class="w-full sm:h-screen flex items-center justify-center tracking-wide">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col lg:flex-row gap-16 lg:items-center w-full">
      <!-- Textový obsah -->
      <div class="flex flex-col items-start gap-8 mt-24 sm:mt-0 sm:gap-10 lg:w-1/2">
        <div class="flex max-w-xl flex-col items-start gap-4 sm:gap-6">
          <h1 class=" text-4xl font-medium sm:text-5xl lg:text-6xl">
            Vítáme Vás na stránkách firmy
          </h1>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-lg sm:text-xl">
            Zabýváme se kompletní dodávkou a montáží
            klimatizačního zařízení a tepelných čerpadel značek Toshiba a LG.
          </p>
        </div>
        <a
          href="/kontakt"
          class="text-lg font-normal bg-blue dark:bg-primary-400 hover:bg-blue2 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-black transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Mám zájem
        </a>
      </div>

      <!-- Obrázek -->
      <div class="lg:w-1/2 mb-24 sm:mb-0">
        <img
          class="h-auto w-full lg:w-auto rounded-3xl mx-auto"
          width="1280"
          height="640"
          src="/assets/klima_uvodni.png"
          alt="Hero picture"
        />
      </div>
    </div>
  </div>
</section>
